/* Set the background color of the <body> element */
body {
  background: #00b3e6; /* Light blue */
}

/* Set styles for <div> elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Set font size for the element with id #main-header */
#main-header {
  font-size: 22px;
}

/* Set font style for elements with class .perspective-questions */
.perspective-questions {
  font-style: italic;
}

